In [5]:
import pandas as pd

gss = pd.read_hdf('gss.hdf5')
print(type(gss))
print(gss.head())
print(gss.shape)
print(gss.columns)

<class 'pandas.core.frame.DataFrame'>
   year   age  cohort  sex  race  educ  realinc  gunlaw  grass  wtssall
0  1972  26.0  1946.0    1     1  18.0  13537.0     2.0    NaN   0.8893
1  1972  38.0  1934.0    2     1  12.0  18951.0     1.0    NaN   0.4446
2  1972  57.0  1915.0    1     1  12.0  30458.0     1.0    NaN   1.3339
3  1972  61.0  1911.0    2     1  14.0  37226.0     1.0    NaN   0.8893
4  1972  59.0  1913.0    1     1  12.0  30458.0     2.0    NaN   0.8893
(62466, 10)
Index(['year', 'age', 'cohort', 'sex', 'race', 'educ', 'realinc', 'gunlaw',
       'grass', 'wtssall'],
      dtype='object')

### columns
* <b>sex</b>: 1 for male, 2 for female
* <b>educ</b>: years of education. (12 years means the respondent has completed high school.)
* <b>realinc</b>: income

In [6]:
gss.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62466 entries, 0 to 62465
Data columns (total 10 columns):
year       62466 non-null int64
age        62281 non-null float64
cohort     62282 non-null float64
sex        62466 non-null int64
race       62466 non-null int64
educ       62304 non-null float64
realinc    55499 non-null float64
gunlaw     40550 non-null float64
grass      36222 non-null float64
wtssall    62466 non-null float64
dtypes: float64(7), int64(3)
memory usage: 5.2 MB

In [7]:
gss.describe()

,year,age,cohort,sex,race,educ,realinc,gunlaw,grass,wtssall
count,62466.000000,62281.000000,62282.000000,62466.000000,62466.000000,62304.000000,55499.000000,40550.000000,36222.000000,62466.000000
mean,1994.072359,44.648320,1949.429996,1.541415,1.254955,12.831311,34702.430164,1.237534,1.695572,1.213340
std,12.937941,17.072244,20.734302,0.498286,0.554694,3.117027,30665.659411,0.425577,0.460171,0.585544
min,1972.000000,18.000000,1883.000000,1.000000,1.000000,0.000000,234.000000,1.000000,1.000000,0.411898
25%,1984.000000,30.000000,1935.000000,1.000000,1.000000,12.000000,13750.000000,1.000000,1.000000,0.918400
50%,1994.000000,43.000000,1951.000000,2.000000,1.000000,12.000000,26015.000000,1.000000,2.000000,1.062100
75%,2006.000000,57.000000,1964.000000,2.000000,1.000000,15.000000,43426.000000,1.000000,2.000000,1.515500
max,2016.000000,89.000000,1998.000000,2.000000,3.000000,20.000000,162607.000000,2.000000,2.000000,8.739876

* year: from 1972 to 2016
* age: from 18 to 89
* race: 1, 2, 3????